<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" routerLink=""><i class="fa fa-home" style="font-size: 2rem;"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="footballers"><i class="fa fa-list-ul"></i> Liste des Footballers</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="new"><i class="fa fa-plus-circle"></i> Ajouter un Footballer</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="bg-dark text-center fixed-bottom">
    <p>
      Projet Angular de <b><a href="https://github.com/MaxHwK" target="_blank">Maxence Giron</a></b> sur le thème du
      <b>Football</b> |
      <b><a href="https://fontawesome.com/" target="_blank"><i class="fab fa-font-awesome-flag"></i> Font
          Awesome</a></b> -
      <b><a href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap"></i> Bootstrap</a></b> |
      <i class="fa fa-clock"></i> Temps de visionnage : <b>{{ time }}</b> secondes
    </p>
  </footer>
</div>
